html
    head
        script(src='/js/jquery.min.js', type='text/javascript')
        script(src='/js/jquery-ui.js', type='text/javascript')
        script(src='/js/add-dialog.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='/css/pool.css')
        |<script>
        |    $(function() {
        |        $( ".draggable" ).sortable({
        |            connectWith: ".draggable",
        |            revert: 200
        |        });
        |    });
        |</script>
    body
        .container-fluid
            .navbar
                .navbar-inner
                    .brand
                        a(href='/') Rideboard
                    ul.nav
                        li 
                            a(href='/' + eventId) Event
                    ul.nav.pull-right
                        li
                            a#add-passenger(href='#') Add
            .driver-pool
                .driver1.car
                    p Driver: John Doe
                    p Driver data
                    .passengers.draggable Passengers:
                .driver2.car.draggable
                .driver3.car.draggable
                .driver4.car.draggable
            .rider-pool.draggable
                .rider.
                    Joe Schmoe
                    (999) 111-2222
            div#dialogModal.modal.hide.fade(tabindex='-1', role='dialog', aria-lablledby='dialogModalLabel', aria-hidden='true')
                form#newUserForm(action='/' + eventId + '/newUser', method='post')
                    input(type='hidden', value=eventId)
                    div.modal-header
                        h3 Add a participant
                    div.modal-body
                        div 
                            span Name  
                            span.float-right
                                input.text-input(id='name', type='text', name='name')
                            br
                            br
                            span Phone Number 
                            span.float-right
                                input.text-input(id='phone', type='text', name='phone')
                            br
                            br
                            span Are you driving?
                            span.float-right
                                select(id = 'driver', name='driver')
                                    option Yes
                                    option No
                    div.modal-footer
                        a#dialog-close.btn.btn(href='#') Close
                        button#dialog-save.btn.btn-primary(type='submit') Save changes
