html
	head
		link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
		link(rel='stylesheet', type='text/css', href='/css/pool.css')
	body
		.container-fluid
			.navbar
				.navbar-inner
					.brand.
						Event
					ul.nav
						li 
							a Test
					ul.nav.pull-right
						li
							a Add
			.driver-pool
				.driver1.car
				.driver2.car
				.driver3.car
				.driver4.car
			.rider-pool
				p rider one
