html
    head
        script(src='/js/jquery.min.js', type='text/javascript')
        script(src='/js/jquery-ui.js', type='text/javascript')
        script(src='/js/add-dialog.js', type='text/javascript')
        script(src='/js/bootstrap.js', type='text/javascript')
        link(rel='stylesheet', type='text/css', href='/css/bootstrap.css')
        link(rel='stylesheet', type='text/css', href='/css/pool.css')
    body
        .container-fluid
            .navbar
                .navbar-inner
                    .brand
                        a(href='/') Rideboard
                    ul.nav
                        li 
                            a(href='/' + eventId) Event
                    ul.nav.pull-right
                        li
                            a#add-passenger(href='#') Add
            .driver-pool
                .driver1.car
                .driver2.car
                .driver3.car
                .driver4.car
            .rider-pool
                p rider one
            div#dialogModal.modal.hide.fade(tabindex='-1', role='dialog', aria-lablledby='dialogModalLabel', aria-hidden='true')
                form#addForm(action='/' + eventId, method='post')
                    div.modal-header
                        h3 Add a participant
                    div.modal-body
                        p heyyy girlll
                        input(id='email', type='text', value='', name='email')
                    div.modal-footer
                        a#dialog-close.btn.btn(href='#') Close
                        button#dialog-save.btn.btn-primary(type='submit') Save changes
