html
	head
		| <style type='text/css'>
		include ../css/bootstrap.css
		include ../css/pool.css
		| </style>
	body
		.container-fluid
			.navbar
				.navbar-inner
					.brand.
						Event
					ul.nav
						li 
							a Test
					ul.nav.pull-right
						li
							a Add
			.driver-pool
				.driver1.car
				.driver2.car
				.driver3.car
				.driver4.car
			.rider-pool
				p rider one
