.driver-pool {
    padding: 1%;
    margin-top: 0.5%;
    margin-left: 0.5%;
	background-color: #333333;
	width: 77.5%;
	float: left;
    border-radius: 4px;
    height: 89%;
}

.driver-pool h3 {
	margin-top: 0;
	padding-top: 0;
}

.rider-pool {
    margin-top: 0.5%;
    padding: 1%;
    margin-left: 0.5%;
    margin-right: 0.5%;
	background-color: #00ccff;
	width: 17%;
    height: 89%;
	float: left;
    border-radius: 4px;
    overflow: auto;
}

.people {
	max-height: 82%;
}

.rider-pool h4 {
	text-align: center;
}

.rider-pool .rider {
	margin-bottom: 10px;
}

.full-car {
	position: absolute;
	top: 40px;
	width: 96%;
	z-index: 9;
	display: none;
}

.color1 {
	background-color: #F73E5F;
	color: #9B001C;
}

.color1 .rider {
	background: #F76F87;
    border: solid #9B001C 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;	
    color: #9B001C;
}

.color2 {
	color: #A63E00;
	background-color: #FF8740;
}	

.color2 .rider {
	background: #FFA773;
    border: solid #A63E00 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;	
    color: #A63E00;	
}

.color3 {
	background-color: #35D2AB;
	color: #006C51;	
}

.color3 .rider {
	background: #5FD2B5;
    border: solid #006C51 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;	
    color: #006C51;	
}	

.color4 {
	background-color: #70ED3B;
	color: #2B8E00;
}

.color4 .rider {
	background: #92ED6B;
    border: solid #2B8E00 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;	
    color: #2B8E00;		
}	

.car {
	float: left;
    margin: 3px;
	margin-left: 0.2%;
	margin-right: 0.2%;
	width: 24.2%;
    padding: 0.2%;
    position: absolute;
    min-height: 100px;
}

.float-right {
    float: right;
}

.text-input{
    height: 30px;
}

.rider {
    background: #d0d0d0;
    border: solid black 1px;
    border-radius: 5px;
    padding-left: 5px;
    margin-bottom: 3px;
    margin-right: 10px;
    margin-left: 15px;
    width: 200px;
    line-height: 200%;
    z-index: 9999;
}

.rider:hover {
	cursor: pointer;
	cursor: hand;
}

.driver {
    margin-top: 10px;
    padding-left: 20px;
    margin-bottom: 3px;
    margin-right: 10px;
    width: 200px;
}

.driver p {
	margin-bottom: 0;
}


.phone {
  float: right;
  margin-right: 10px;
}

.delete {
	position: absolute;
	bottom: 10px;
	right: 10px;
	height: 50px;
	width: 50px;
}

.assign {
	position: absolute;
	bottom: 15px;
	right: 135px;
}

.passengers {
	padding-left: 20px;
    margin-bottom: 3px;
    margin-right: 10px;
    width: inherit;
    height: inherit;	
}

a.big {
  font-size: 1.3em;
}

a.jumbo {
  font-size: 1.3em;
}


.pull-center {
    padding-left: 50px;
}
